.green-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #1e3932;
    /* Diğer stil tanımlamalarını buraya ekleyebilirsiniz */
  }
  .green-area-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
  }
  .green-area-content-left h4{
    color: #ffffffb2;
    font-size: 17px;
    font-family: 'SodoSB';
    padding:  5px 50px 5px 0;

  }
  .green-area-content-left select{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-family: 'SodoSB';
    font-size: 17px;
    padding:  5px 50px 5px 0;
  }
  .green-area-content-right i{
    position: relative;
    color: #ffffffb2;
    font-size: 40px;
  }
  .green-area-content span{
    position: absolute;
    top: 21px;
    left: 14px;
    font-size: 16px;
    font-family: 'Sodo';
    color: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    background-color: #006241;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    transition: .3s; */
  }
  #active-icon{
    color: #027750;
  }